@media (min-width: 451px) and (max-width: 910px){



    /* ------------------------------------------- HEADER ------------------------------------------- */
    .meuNome div, .port div{
        font-size: 30px !important; 
        margin: 6px;
    }

    .menu, .link-contato, .logo{
        display: none;
    }

    header{
        width: 100%;
        display: flex;
        text-align: right;
        flex-direction: column;
        position: fixed;
        justify-content: flex-end;
        z-index: 2;
    }


    @keyframes aparecerMenu {
        0% {
                  transform: translateX(300px);
        }
        100% {
                  transform: translateX(0);
        }
    }

    #menuMobile{
        position: relative;
        display: none;
        animation: aparecerMenu .5s;
    }

    #iconOpen{
        display: block;
    }

    #iconClose{
        display: none;
    }

    .menu-mobile ul{
        width: 40%;
        height: 80vh;
        margin-left: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        transition: all 1s;
        background-color: #3f0071;
        border-radius: 400px 0 0 400px;
        text-align: right;
    }

    .menu-mobile li{
        width: 80%;
        text-align: right;
        margin: 10px;
    }

    .menu-mobile a{
        text-decoration: none;
        font-size: 25px;
        color: white;
    }

    .btn-menu{
        width: 6%;
        margin: 10px 4% 10px 90%;
        height: 40px;
        float: right;
        border: none;
        border-radius: 10px;
        box-shadow: 2px 2px 2px white;
        background-color: #3f0071;
    }

    .btn-menu i{
        font-size: 35px;
        color: white;
    }



/* ------------------------------------------- HOME ------------------------------------------- */

#home{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-avatar, .texto-home{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-avatar{
    width: 80%;
    margin: auto 10%;
}
.img-avatar img{
    width: 300px;
}

.texto-home{
    margin: auto 10%;
    width: 80%;
    color: white;
    flex-direction: column;
}

.texto-home p{
    margin: 50px;
    width: 80%;
    font-family: 'Abel', sans-serif;
}

/* modal do saiba mais */ 

.btn-I{
    padding: 10px;
    background-color: #3f0071;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 3px white;
    
}

.modal{
    display: none;
    position: fixed;
    z-index: 3;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.95);
}

.modal-container{
    background-color: #3f0071;
    margin: auto;
    padding: 20px;
    border: 10px double #241023;
    width: 60%;
}

.closeModal{
    float: right;
    font-size: 30px;
    cursor: pointer;
    color: #5d697a;
    transition: all .6s ease-in-out;
}


/* ------------------------------------------- PROJETOS ------------------------------------------- */

#projetos{
    width: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(0deg, rgba(36,16,35,1) 79%, rgba(0,0,0,1) 100%);
}

.tilte-projetos{
    width: 100%;
    text-align: center;
    margin: 100px auto 50px;
    box-shadow: 1px 1px 1px white;
    background-color: black;
}

.tilte-projetos h2{
    color: white;
    padding: 5px;
}

.proj-destaques{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.proj-dest, .proj-dest, 
.proj-dest{
    width: 400px;
    height: 500px;
    margin: 50px auto;
    text-align: center;
    border-radius: 5px 5px 100px 100px;
    background-color: rgb(0, 0, 0);
}

.text-proj{
    color: white;
    margin: 15px;
}

.img-proj{
    width: 370px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px white;
}

.descricao-proj{
    width: 90%;
    margin: 10px auto;
    font-size: 14px;
    color: white;
}

.tecnologia-proj{
    width: 60%;
    color: white;
    margin: 15px auto;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.616);
    border-radius: 0 50% 50% 0;
}

.tecnologia-proj ul li{
    list-style: none;
}

.btn-proj{
    width: 100%;
}

.btn-proj button{
    width: 40%;
    padding: 5px;
    background-color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .6s;
    box-shadow: 1px 1px 3px #3f0071;
}

.btn-proj a{
    text-decoration: none;
}

.btn-proj a:hover{
    color: white;
}


/* CARDS PROJETOS */

.proj-segundarios{
    width: 90%;
    margin: 30px auto 100px;
    display: flex;
    overflow: auto;
    background-color: #3f0071;
}

.card-proj{
    width: 280px;
    height: 220px;
    margin: 10px;
    background-color: #5d697a;
}

figure img{
    width: 250px;
}

figcaption{
    margin: 5px auto;
    text-align: center;
}

figcaption p{
    color: white;
    margin: 10px;
}

figcaption a{
    margin-top: 10px;
    text-decoration: none;
    padding: 0 5px;
    border-left: solid 1px black;
    border-right: solid 1px black;
    transition: .6s;
    color: #3f0071;
}

figcaption a:hover{
    background-color: #272b31;
    color: white;
}

/* ------------------------------------------- HABILIDADES ------------------------------------------- */

#habilidades{
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(0deg, rgba(0,0,0,1) 26%, rgba(36,16,35,1) 90%);
}

#habilidades h1{
    color: white;
    padding: 15px;
    text-align: center;
    margin: 100px auto 0;
    box-shadow: 5px 5px 1px black;
    background-color: #3f0071;
}

.container-habilidades{
    width: 80%;
    height: 700px;
    margin: auto;
}

.habilidade-front, .habilidade-back{
    width: 80%;
    margin: 40px auto;
} 

.habilidade-front h3{
    color: rgb(0, 162, 255);
    font-size: 22px;
    text-decoration: underline;
    margin-top: 10px;
}

.habilidade-back h3{
    color: rgb(255, 255, 0);
    font-size: 22px;
    text-decoration: underline;
    margin-top: 10px;
}

.habilidade-back span{
    font-size: 18px;
}

.tecno{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.tecno i{
    font-size: 70px;
    margin: 20px 20px;
    color: white;
    filter: drop-shadow(2px 5px 2px #3f0071);
}



.anhanguera{
    background: linear-gradient(#3e00718f, #00000098), url(/img/certificados/1.png);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
    color: white;
}

/* logica de programação */

.log-programacao{
    background: linear-gradient(#3e00718f, #00000098), url(/img/certificados/2.png);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
    color: white;
}

/* design grafico */

.des-grafico{
    background: linear-gradient(#3e00718f, #00000098), url(/img/certificados/3.png);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
    color: white;
}

/* html e css na prática */

.html-css{
    background: linear-gradient(#3e00718f, #00000098), url(/img/certificados/4.png);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
    color: white;
}

/* JS para iniciantes */

.workover{
    background: linear-gradient(#3e00718f, #00000098), url(/img/certificados/7.png);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
    color: white;
}

/* banco de dados */

.danki-code{
    background: linear-gradient(#3e00718f, #00000098), url(/img/certificados/6.png);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
    color: white;
}

/* Git e GitHub */

.git-github{
    background: linear-gradient(#3e00718f, #00000098), url(/img/certificados/5.png);
    background-position: center center;
    background-size: cover;
    background-position-y: 0px;
    background-repeat: no-repeat;
    color: white;
}

/* ------------------------------------------- FORMAÇÃO ------------------------------------------- */

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

footer h3{
    display: none;
}

.footer-contato{
    display: flex;
    margin: 10px;
    color: white;
}

.footer-icons{
    display: flex;
    margin: 10px 15px;
}

.footer-icons a{
    margin-left: 10px;
    color: white;
    transition: .5s;
    text-decoration: none;
}



}